
*{
    margin: 0;
    padding: 0;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none} 

body{
    background-image: url(Assets/fond-login.jpg);
    background-size: cover;
    height:auto;
    width:auto;
}

nav{
    display: flex;
    flex-direction: row;
    width: 8%;
    align-items: center;
    margin: auto; 
    margin-top: 1%;
    margin-bottom: 3%; 
}

main{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* img-Logo */
img{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 8px 10px 2px 1px rgba(58, 58, 58, 0.2);
    transition: 0.5s ease-in-out;
}

img:hover{    
    opacity: 0.9;
    filter: grayscale(0%);
    transition: 0.3s ease-in-out;
}


/* Class */


/* BoxLogin */
.loginConteneur{
    margin-top: 5%;
    margin-bottom: 15%;
    opacity: 0.8;  
}

.loginhtml{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 35px 450px;
    gap: 6px;
}

.loginform{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* .loginConteneur div{
    min-width: 150px;
    max-width: 375px;
} */

.backgroundBlanc{
    background-color: white;
}

.loginConteneur .loginhtml .loginform{
    min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
} 

.loginbutton{
    border-top-left-radius: 12px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbutton:hover{
    --s: 100%;   /* the size of the image */
    --b: 2px;     /* the border thickness*/
    --g: 4px;    /* the gap */
    --c: #000000; /* the color */
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    transition: 0.2s ease-in-out;
}

.registerbutton{
    border-top-right-radius: 12px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerbutton:hover{
    --s: 100%;   /* the size of the image */
    --b: 2px;     /* the border thickness*/
    --g: 4px;    /* the gap */
    --c: #000000; /* the color */
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    transition: 0.2s ease-in-out;
}

.titre-login{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 2px solid black; */
    margin:2% 3% 0% 3%;
}

/* loginholder */

.loginholder{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.divloginholder{
    margin-top:2%;
}

.loginholder input[type="text"],
.loginholder input[type="password"],
.loginholder input[type="email"]{
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 13px 18px;
    /* margin: 20px 0 0 0; */
    font-size: 0.8em;
    border-radius: 10px;
    background: #3c3c3c;
    color: #fff;
}

.submitbuttonlogin input[type=submit]{
    border: 0;
    outline: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 13px 18px;
    margin: 20% 0 0 0;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.submitbuttonregister input[type=submit]{
    border: 0;
    outline: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 13px 18px;
    margin: 20% 0 0 0;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.submitbuttonlogin input[type=submit]:hover,
.submitbuttonregister input[type=submit]:hover{
    --s: 100%;   /* the size of the image */
    --b: 2px;     /* the border thickness*/
    --g: 4px;    /* the gap */
    --c: #000000; /* the color */
    cursor: pointer;
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    transition: 0.2s ease-in-out;
}

.loginConteneur .login,
.loginConteneur .register,
.loginform .divloginholder .check{
	display:none;
}

.loginConteneur .loginhtml .login:checked + .tab,
.loginConteneur .loginhtml .register:checked + .tab{
	color:#fff;
}

/* Animation */

.loginConteneur .loginbox,
.loginConteneur .registerbox{
	border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
	transform:rotateY(0deg);
	backface-visibility:visible;
	transition:all .4s linear;
} 

.loginform .divloginholder .label,
.loginform .divloginholder .input,
.loginform .divloginholder .button{
	width:100%;
	color:#fff;
	display:block;
}

.loginform .divloginholder .label{
	color:#aaa;
	font-size:12px;
}

.loginform .divloginholder label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
}

.loginform .divloginholder label .icon:before,
.loginform .divloginholder label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}

.loginform .divloginholder label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}

.loginform .divloginholder label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}

.loginform .divloginholder .check:checked + label{
	color:#fff;
}
.loginform .divloginholder .check:checked + label .icon{
	background:#1161ee;
}
.loginform .divloginholder .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.loginform .divloginholder .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.loginhtml .login:checked + .tab + .sign-up + .tab + .loginform .loginbox{
	transform:rotate(0);
}
.loginhtml .register:checked + .tab + .loginform .registerbox{
	transform:rotate(0);
}

.loginform .divloginholder input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}

.loginbox .hrloginconteneur{
    margin-top: 5%;
    width: 75%;
	border-top: 1px solid black;
}
.registerbox .hrregisterconteneur{
    margin-top: 5%;
    width: 75%;
	border-top: 1px solid black;
}

.footerboxlogin{
    margin-top: 2%;
    text-align:center;
    margin-bottom: 5%;
}

.footerboxregister{
    margin-top: 5%;
    text-align:center;
}

/* Ombre */
.ombre{
    box-shadow: 8px 10px 2px 1px rgba(58, 58, 58, 0.2);
}
.text-ombre{
    text-shadow: 2px 2px 2px rgb(160, 160, 160);
}


/* .loginConteneur{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
} 
.loginhtml{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
} 
.loginhtml .loginbox,
.loginhtml .registerbox{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.loginhtml .login,
.loginhtml .register,
.loginform .group .check{
	display:none;
}
.loginhtml .tab,
.loginform .group .label,
.loginform .group .button{
	text-transform:uppercase;
}
.loginhtml .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.loginhtml .login:checked + .tab,
.loginhtml .register:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.loginform{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.loginform .group{
	margin-bottom:15px;
}
.loginform .group .label,
.loginform .group .input,
.loginform .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.loginform .group .input,
.loginform .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.loginform .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.loginform .group .label{
	color:#aaa;
	font-size:12px;
}
.loginform .group .button{
	background:#1161ee;
}
.loginform .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.loginform .group label .icon:before,
.loginform .group label .icon:after{
	content:'';
	width:10px;	
    height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.loginform .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.loginform .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
} 
.loginform .group .check:checked + label{
	color:#fff;
}
.loginform .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
} */