@font-face {
    font-family: 'acherus_grotesque_regularRg';
    src: url('polices/acherusgrotesque-regular-webfont.eot');
    src: url('polices/acherusgrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('polices/acherusgrotesque-regular-webfont.woff') format('woff'),
         url('polices/acherusgrotesque-regular-webfont.ttf') format('truetype'),
         url('polices/acherusgrotesque-regular-webfont.svg#acherus_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    font-size:medium;
    font-family: 'acherus_grotesque_regularRg','calibri','serif';
    background-color:#DED9D9;
    /*background-size: cover;*/
}

/* header */

header {
    background-color:white;
    padding:3%;
}

.login {

    float: right;
    background-color: black;
    font-size:large;
    color: white;
    padding: 12px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}

    

form input{
    width:10%;
    border-radius: 15px;

}

.logo{
    display:block;
    width:20%;
    margin:auto;

    
}

/* menu de navigation */ 

#menus {
    background-color: white;
    font-size:larger;
    
}

#menus ul {
    display:flex;
    justify-content:space-around;
    align-items: center;
    list-style:none;
    padding:2%;
    color:black;
    

}

#menus ul a {
    color:black;
    text-decoration: none;
}

nav a:hover {

    font-weight:bold;
    border-top:2px solid black;
    color:black;
    
}


/* article */

article {
    width:60%;
    margin-left:5%;
}

article div {
    background-color: white;
    margin-bottom:10px;
    padding:3%;
}

.invincible {
    width:40%;
}
.article1 {
    display:flex;
    flex-direction: column;
}

/* aside */

aside {
    text-align: center;
    color:white;
    width:30%;
    float:right;
    background-color: #164446;
    padding:10px;
    margin-right: 1%;
}



.nain {
    display:block;
    width:70%;
    margin:auto;
    margin-bottom: 10px;
    

}

.button-aside {
    
    display:block;
    background-color:white;
    font-size:medium;
    color: black;
    padding: 12px 20px;
    margin:auto;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}






